<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="SAP">
      <section name="Credentials" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <SAP>
    <Credentials>
      <add key="Server" value="SAPB192PL10" />
      <add key="CompanyDB" value="UGRS_20190115" />
      <add key="DbUserName" value="sa" />
      <add key="DbPassword" value="Qualisys123" />
      <add key="UserName" value="manager" />
      <add key="Password" value="q123" />
    </Credentials>
  </SAP>
  <appSettings>
    <add key="log_path" value=" C:\Qualisys\Log\CheckAdministration" />
  </appSettings>
</configuration>